
{% block content %}
    <div class="row">
        <div class="col-md-3">
            {% block sidebar %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Navigation</h5>
                    <div class="list-group list-group-flush">
                        <a href="{{ url_for('wiki.wiki_home') }}" 
                           class="list-group-item list-group-item-action">
                            Home
                        </a>
                        {% if session.get('user') %}
                            <a href="#" class="list-group-item list-group-item-action">
                                New Page
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endblock %}
        </div>
        
        <div class="col-md-9">
            {% block wiki_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
